@import "../mixins";

.container {
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 100px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: #1b1b1b;
  text-align: center;
}
